<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>debug</key>
    <false/>
    <key>rules.factory</key>
    <array>
        <string>Init</string>
        <string>InternetSharing</string>
        <string>ProxyInChina3</string>
        <string>ProxyInChina4</string>
        <string>ProxyInChina</string>
        <string>ProxyInChina2</string>
        <string>ProxyInChina5</string>
        <string>ProxyInChina6</string>
        <string>ProxyInChina7</string>
        <string>ProxyInChina8</string>
        <string>Blockout</string>
    </array>
    <key>rules.user</key>
    <array>
        <string>tox</string>
    </array>
    <key>rule.Init.activated</key>
    <true/>
    <key>rule.Init.comment</key>
    <string>Init for proxy.</string>
    <key>rule.Init.rules</key>
    <array>
        <string>martians = "{!0/8,!10/8,!100.64/10,!127/8,!169.254/16,!172.16/12,192/24,!192.0.2/24,!192.168/16,!198.18/15,!198.51.100/24,!203.0.113/24,!224/4,240/4,!255.255.255.255/32}"</string>
        <string>sshosts = "{!223.223.218.162/32,!223.223.218.131/32,!123.176.96.174/32,!123.176.102.164/32,!203.86.237.250/32,!123.176.102.54/32,!123.176.102.73/32,!203.86.237.216/32,!123.176.102.53/32}" </string>
        <string>tcpdns = "{8.8.8.8,8.8.4.4}"</string>
        <string>table &lt;gfwlist&gt; persist $tcpdns file "/etc/gfwiplist"</string>
        <string>table &lt;notmartianslist&gt; const {0/0 $martians}</string>
    </array>
    
    <key>rule.Blockout.name</key>
    <string>Block Out</string>
    <key>rule.Blockout.comment</key>
    <string>Block everything leaving our Mac.</string>
    <key>rule.Blockout.rules</key>
    <array>
        <string>block out all</string>
    </array>

    <key>rule.ProxyInChina.activated</key>
    <false/>
    <key>rule.ProxyInChina.name</key>
    <string>Proxy In China By IpSet With Wifi</string>
    <key>rule.ProxyInChina.comment</key>
    <string>Outgoing GFW traffic by shadowsocks server.</string>
    <key>rule.ProxyInChina.rules</key>
    <array>
        <string>rdr pass log on lo0 inet proto tcp to &lt;notmartianslist&gt; -&gt; 127.0.0.1 port 2081</string>
        <string>rdr pass log on en0 inet proto tcp from en0:network to &lt;gfwlist&gt; -&gt; 127.0.0.1 port 2081</string>
        <string>pass out on en0 route-to lo0 inet proto tcp from en0 to &lt;gfwlist&gt;</string>
    </array>
    
    <key>rule.ProxyInChina2.activated</key>
    <false/>
    <key>rule.ProxyInChina2.name</key>
    <string>Proxy In China By Ips With Wifi</string>
    <key>rule.ProxyInChina2.comment</key>
    <string>Outgoing not china Lan traffic by shadowsocks server.</string>
    <key>rule.ProxyInChina2.rules</key>
    <array>
        <string>table &lt;notchinaiplist&gt; persist {0/0 $martians $sshosts} file "/etc/chinaiplist"</string>
        <string>rdr pass log on lo0 inet proto tcp to &lt;notmartianslist&gt; -&gt; 127.0.0.1 port 2081</string>
        <string>rdr pass log on en0 inet proto tcp from en0:network to &lt;notchinaiplist&gt; -&gt; 127.0.0.1 port 2081</string>
        <string>pass out on en0 route-to lo0 inet proto tcp from en0 to &lt;notchinaiplist&gt;</string>
    </array>
    
    <key>rule.ProxyInChina3.activated</key>
    <false/>
    <key>rule.ProxyInChina3.name</key>
    <string>Proxy In China By IpSet</string>
    <key>rule.ProxyInChina3.comment</key>
    <string>Outgoing GFW traffic by shadowsocks server.</string>
    <key>rule.ProxyInChina3.rules</key>
    <array>
        <string>rdr pass log on lo0 inet proto tcp to &lt;notmartianslist&gt; -&gt; 127.0.0.1 port 2081</string>
        <string>rdr pass log on en8 inet proto tcp from en8:network to &lt;gfwlist&gt; -&gt; 127.0.0.1 port 2081</string>
        <string>pass out on en8 route-to lo0 inet proto tcp from en8 to &lt;gfwlist&gt;</string>
    </array>
    
    <key>rule.ProxyInChina4.activated</key>
    <false/>
    <key>rule.ProxyInChina4.name</key>
    <string>Proxy In China By Ips</string>
    <key>rule.ProxyInChina4.comment</key>
    <string>Outgoing not china Lan traffic by shadowsocks server.</string>
    <key>rule.ProxyInChina4.rules</key>
    <array>
        <string>table &lt;notchinaiplist&gt; persist {0/0 $martians $sshosts} file "/etc/chinaiplist"</string>
        <string>rdr pass log on lo0 inet proto tcp to &lt;notmartianslist&gt; -&gt; 127.0.0.1 port 2081</string>
        <string>rdr pass log on en8 inet proto tcp from en8:network to &lt;notchinaiplist&gt; -&gt; 127.0.0.1 port 2081</string>
        <string>pass out on en8 route-to lo0 inet proto tcp from en8 to &lt;notchinaiplist&gt;</string>
    </array>
  
    <key>rule.ProxyInChina5.activated</key>
    <false/>
    <key>rule.ProxyInChina5.name</key>
    <string>Proxy In China By IpSet With iPhone</string>
    <key>rule.ProxyInChina5.comment</key>
    <string>Outgoing GFW traffic by shadowsocks server.</string>
    <key>rule.ProxyInChina5.rules</key>
    <array>
      <string>rdr pass log on lo0 inet proto tcp to &lt;notmartianslist&gt; -&gt; 127.0.0.1 port 2081</string>
      <string>rdr pass log on en9 inet proto tcp from en9:network to &lt;gfwlist&gt; -&gt; 127.0.0.1 port 2081</string>
      <string>pass out on en9 route-to lo0 inet proto tcp from en9 to &lt;gfwlist&gt;</string>
    </array>

    <key>rule.ProxyInChina6.activated</key>
    <false/>
    <key>rule.ProxyInChina6.name</key>
    <string>Proxy In China By Ips With iPhone</string>
    <key>rule.ProxyInChina6.comment</key>
    <string>Outgoing not china Lan traffic by shadowsocks server.</string>
    <key>rule.ProxyInChina6.rules</key>
    <array>
      <string>table &lt;notchinaiplist&gt; persist {0/0 $martians $sshosts} file "/etc/chinaiplist"</string>
      <string>rdr pass log on lo0 inet proto tcp to &lt;notmartianslist&gt; -&gt; 127.0.0.1 port 2081</string>
      <string>rdr pass log on en9 inet proto tcp from en9:network to &lt;notchinaiplist&gt; -&gt; 127.0.0.1 port 2081</string>
      <string>pass out on en9 route-to lo0 inet proto tcp from en9 to &lt;notchinaiplist&gt;</string>
    </array>

    
    <key>rule.ProxyInChina7.activated</key>
    <false/>
    <key>rule.ProxyInChina7.name</key>
    <string>Proxy In China By IpSet With iPad</string>
    <key>rule.ProxyInChina7.comment</key>
    <string>Outgoing GFW traffic by shadowsocks server.</string>
    <key>rule.ProxyInChina7.rules</key>
    <array>
      <string>rdr pass log on lo0 inet proto tcp to &lt;notmartianslist&gt; -&gt; 127.0.0.1 port 2081</string>
      <string>rdr pass log on en7 inet proto tcp from en7:network to &lt;gfwlist&gt; -&gt; 127.0.0.1 port 2081</string>
      <string>pass out on en7 route-to lo0 inet proto tcp from en7 to &lt;gfwlist&gt;</string>
    </array>

    <key>rule.ProxyInChina8.activated</key>
    <false/>
    <key>rule.ProxyInChina8.name</key>
    <string>Proxy In China By Ips With iPad</string>
    <key>rule.ProxyInChina8.comment</key>
    <string>Outgoing not china Lan traffic by shadowsocks server.</string>
    <key>rule.ProxyInChina8.rules</key>
    <array>
      <string>table &lt;notchinaiplist&gt; persist {0/0 $martians $sshosts} file "/etc/chinaiplist"</string>
      <string>rdr pass log on lo0 inet proto tcp to &lt;notmartianslist&gt; -&gt; 127.0.0.1 port 2081</string>
      <string>rdr pass log on en7 inet proto tcp from en7:network to &lt;notchinaiplist&gt; -&gt; 127.0.0.1 port 2081</string>
      <string>pass out on en7 route-to lo0 inet proto tcp from en7 to &lt;notchinaiplist&gt;</string>
    </array>
    
    
    <key>rule.InternetSharing.activated</key>
    <false/>
    <key>rule.InternetSharing.name</key>
    <string>Internet Sharing</string>
    <key>rule.InternetSharing.comment</key>
    <string>Turn on network sharing</string>
    <key>rule.InternetSharing.rules</key>
    <array>
        <string>nat-anchor "com.apple.internet-sharing" all</string>
        <string>rdr-anchor "com.apple.internet-sharing" all</string>
    </array>
</dict>
</plist>
